/* styles/index.css */

/* Import fonts */
@import url("./fonts.css");

/* Import variables.css */
@import url("./variables.css");

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg,
png,
webp {
	display: block;
	max-width: 100%;
}

/* Create a root stacking context */
#root,
#__next {
	isolation: isolate;
}
