/* components/Navbar/Navbar.module.css */

.navbar {
	height: 100%;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	backdrop-filter: blur(5px);
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.navList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	flex-grow: 1; /* This makes the list take up available space */
}

.navItem {
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.7);
}

.link,
.activeLink {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: var(--transition-normal);
}

.link:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.activeLink {
	background-color: rgba(255, 255, 255, 0.15);
	border-left: 4px solid var(--accent-color);
}

.navbarBottom {
	margin-top: auto; /* Pushes the container to the bottom */
	padding: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottomImage {
	max-width: 60%;
	height: auto;
	margin-bottom: 1rem;
}
